div#header
	h1
		span#logo
			img(src="/images/logo.png")
		= title
		span#logo
			img(src="/images/logo.png")

div#wrap
	

	div#all_ties_info
		p This is the list of all Bernie's awesome ties sorted by rating
		form#search
			input(type="text", placeholder="Enter a tie name")#textfield
			button#search_btn Search

	test()

	
	div.link
		a#btn_all_ties(href="/") Back to Home
		a#btn_all_ties(href="/upload_tie") Upload A Tie

	ol#ties
		each tie in ties
			li
				<img class="tie_img" src="#{tie.attributes.imageurl}" / >



				- if(tie.average() === null)
					
					span.norating  No votes yet
					
					span.rating

					form(method="post", action="/all_ties", name="rate")
						input(type="hidden", name="id", value="#{tie.attributes.name}")

						span.vote
							- for(var i=1; i<=5; i++)
								input(name="vote", type="radio", class="star", value=i)
							input(id="submitvote", type="submit", name="vote-submit", value="Vote")
					span.name
						#{tie.attributes.name}

				- else

					
					span.showrating #{tie.average()}
					
					span.rating
					form(method="post", action="/all_ties", name="rate")
						input(type="hidden", name="id", value="#{tie.attributes.name}")

						span.vote
							div
							- for(var i=1; i<=5; i++)
								input(name="vote", type="radio", class="star required {split:4}", value=i)
							input(id="submitvote", type="submit", name="vote-submit", value="Vote")
				
					span.name
						#{tie.attributes.name}
				



